/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {

    .header {
        padding: 25px 30px;
    }

    .navbar {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .hero {
        padding: 140px 40px 40px;
    }

    .hero-content h1 {
        font-size: 4rem;
    }

    .hero-features {
        grid-template-columns: repeat(2, 1fr);
    }

    
    .navbar {
        display: none;
    }

    .hamburger {
        display: flex;
    }

   
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {

    .mobile-logo .logo-bottom {
    color: black;
}

    .header {
        padding: 20px;
    }


    .hero {
        position: relative;

        height: 100vh;

        display: flex;

        flex-direction: column;

        justify-content: flex-end;

        padding: 130px 20px 30px;

    background-image: url("../images/hero-image.jpg");

    background-position: center;

    background-size: cover;

    }

   

    .hero-content {
        margin-bottom: 30px;
    }

    .hero-overlay-left {
        width: 100%;
    }

    

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-button {
        padding: 12px 26px;
    }

    
.hero-features-wrapper {
    overflow-x: auto;
    overflow-y: hidden;

    margin-top: 20px;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none;
    scrollbar-width: none;

    padding-right: 20px;
}

.hero-features-wrapper::-webkit-scrollbar {
    display: none;
}

.hero-features {
    display: flex;

    gap: 16px;

    padding-right: 40px;
}

.feature-card {
    flex: 0 0 80%;

    min-width: 80%;

    padding: 20px;

    scroll-snap-align: start;
}

.feature-card:hover .feature-line {
    width: 170px;

    
}


}

/* =========================
   VERY SMALL DEVICES
========================= */

@media (max-width: 480px) {

    .logo-top {
        font-size: 1.5rem;
    }

    .logo-bottom {
        font-size: 0.55rem;

        letter-spacing: 0.3rem;
    }

    .hero-content h1 {
        font-size: 2.3rem;
    }

    .mobile-menu {
        padding: 25px;
    }

    .mobile-nav a {
        font-size: 1.1rem;
    }

    .mobile-contact a {
        font-size: 1rem;
    }
}