<header class="header">
    <div class="header-container">

        <a href="index.html" class="logo">

            <span class="logo-top">Cabana</span>
            <span class="logo-bottom">Valea Muntelui</span>

        </a>

        <nav class="navbar">

            <ul class="nav-links">

                <li>
                    <a href="#top">Home</a>
                </li>

                <li>
                    <a href="#facilitati">Facilități</a>
                </li>

                <li>
                    <a href="#galerie">Galerie</a>
                </li>

                <li>
                    <a href="#vizita">Ce poți vizita</a>
                </li>

                <li>
                    <a href="#locatie">Locație</a>
                </li>

                <li>
                    <a href="tel:+40746796323" class="contact-button">Sună acum</a>
                </li>

            </ul>

        </nav>

        <div class="hamburger">

    <span class="line line-1"></span>

    <span class="line line-2"></span>

    <span class="line line-3"></span>

</div>


</header>

<div class="mobile-menu">

    <div class="mobile-menu-header">

        <div class="mobile-logo">

            <span class="logo-top">Cabana</span>

            <span class="logo-bottom">VALEA MUNTELUI</span>

        </div>

        <div class="close-menu">

            <span></span>

            <span></span>

        </div>

    </div>

    <div class="mobile-menu-content">

        <nav class="mobile-nav">

            <a href="#top">Home</a>

            <a href="#facilitati">Facilități</a>

            <a href="#galerie">Galerie</a>

            <a href="#vizita">Ce poți vizita</a>

            <a href="#locatie">Locație</a>

        </nav>

        <div class="mobile-contact">


            <a href="tel:+40746796323">
                0746 796 323
            </a>

        </div>

        <div class="mobile-social">

           <a href="https://www.instagram.com/cabanavaleamuntelui?stkn=d2R2dzgwb3IxN2Ez" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-instagram"></i>
</a>

<a href="https://www.tiktok.com/@cabanavaleamuntelui?_r=1&_t=ZN-99mUjQA6UXm" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-tiktok"></i>
</a>

<a href="https://www.facebook.com/share/19TZjy1qDW/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-facebook-f"></i>
</a>

        </div>

    </div>

</div>